.theme-menu__button:disabled::before {
  animation: arrow-shift 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  animation: opacity-changer 0.3s ease forwards;
}

.theme-menu__button:disabled {
  animation: opacity-changer 0.3s ease forwards;
}

.theme-menu__button::after {
  transition: width 0.3s;
}

@keyframes arrow-shift {

  0% {
    translate: 0px;
  }

  100% {
    translate: 4px;
  }
}

@keyframes opacity-changer {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
} 

.button:focus {
  transition: box-shadow 0.3s;
}

.button:focus-visible {
  transition: box-shadow 0.3s;
}

.button::before {
  transition: transform 0.5s ease-in-out;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: scaleheart 0.3s ease-in 0.1s 1 alternate none;
}

@keyframes scaleheart {

  0% {
    scale: 1;
  }

  100% {
    scale: 1.5;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate none;
}

@keyframes sparks {

  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}